global
    maxconn 50000

defaults
    mode tcp
    timeout connect 1s
    timeout client  5s
    timeout server  5s

frontend public
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option tcp-check
    server api1 api1:9999 check inter 1s fall 2 rise 1
    server api2 api2:9999 check inter 1s fall 2 rise 1
